h4{
  color: #000000;
}

.card-title{
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.insert-tab{
  display:


.post-tag{
  background-color:#000;
  color:#fff;
  display:inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.post-small{
  font-size: 15px;
}

.post-theme-d1{color:#fff; background-color:#57707d;}
.post-theme-d2{color:#fff; background-color:#4d636f;}
.post-theme-d3{color:#fff; background-color:#435761;}
.post-theme-d4{color:#fff; background-color:#3a4b53;}
.post-theme-d5{color:#fff; background-color:#303e45;}

.post-func-table{
  display:table;
  width: 100%;
  table-layout: fixed;
}

.post-func-col{
  display:table-cell;
  position: relative;
  text-align:center;
}

.post-attri{
  text-decoration: none;
  border-bottom: none;
}

.post-comment{
  height:40px;
  width: 100%;
  margin: 3px 0px 6px 0px;
}

.left-avatar{
  float:left;
  width: 10%;
  height: 100%;
}

.right-content{
  width: 90%;
  float: right;
}

.post-avatar{
  height: 90%;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content{
  width: 100%;
  margin: 0px 0px 0px 0px;
  border-radius: 15px;
}

.filter-row{
  height: 36px;
  cursor: pointer;
  vertical-align: middle;
  margin: 0px 0px 5px 0px;
}
.filter-row:hover{
  background-color: #d9d9d9;
}

.filter-label{
  float: left;
  height: 36px;
  width :60%;
  margin: 0px 0px 0px 0px;
}

.filter-label-icon{
  float: left;
  width:20px;
  margin: 0px 5px 0px 0px;
}

.filter-label-content{
  float:left;
  margin: 0px 0px 0px 0px;
}

.filter-label-done{
  float: right;
}
